div.password-strength-container {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: end;
}

div.password-strength-bar {
  margin-bottom: 0.5rem;
  display: flex;
}

div.strength-bar-segment {
  width: 4rem;
  height: 0.4rem;
  margin-right: 0.4rem;
  border-radius: 1rem;
  background-color: var(--clr-grey-100);
}

div.strength-bar-segment:last-child {
  margin-right: 0;
}

@media screen and (max-width: 400px) {
  div.strength-bar-segment {
    width: 3rem;
    height: 0.3rem;
    margin-right: 0.3rem;
  }
}

p.password-strength-text {
  font-weight: 600;
}

@media screen and (max-width: 400px) {
  p.password-strength-text {
    font-size: 1.4rem;
  }
}

div.strength-bar-segment:nth-child(1).very-weak {
  background-color: var(--clr-red);
}

p.password-strength-text.very-weak {
  color: var(--clr-red);
}

div.strength-bar-segment:nth-child(1).weak,
div.strength-bar-segment:nth-child(2).weak {
  background-color: var(--clr-orange);
}

p.password-strength-text.weak {
  color: var(--clr-orange);
}

div.strength-bar-segment:nth-child(1).moderate,
div.strength-bar-segment:nth-child(2).moderate,
div.strength-bar-segment:nth-child(3).moderate {
  background-color: var(--clr-yellow);
}

p.password-strength-text.moderate {
  color: var(--clr-yellow);
}

div.strength-bar-segment:nth-child(1).strong,
div.strength-bar-segment:nth-child(2).strong,
div.strength-bar-segment:nth-child(3).strong,
div.strength-bar-segment:nth-child(4).strong {
  background-color: var(--clr-green-100);
}

p.password-strength-text.strong {
  color: var(--clr-green-100);
}

div.strength-bar-segment:nth-child(1).very-strong,
div.strength-bar-segment:nth-child(2).very-strong,
div.strength-bar-segment:nth-child(3).very-strong,
div.strength-bar-segment:nth-child(4).very-strong,
div.strength-bar-segment:nth-child(5).very-strong {
  background-color: var(--clr-green-200);
}

p.password-strength-text.very-strong {
  color: var(--clr-green-200);
}
