li.options-item {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

input.option-input {
  position: relative;
  appearance: none;
  width: 3.5rem;
  height: 2rem;
  background-color: var(--clr-grey-100);
  border-radius: 7rem;
}

input.option-input:hover {
  background-color: var(--clr-grey-200);
  transition-duration: 0s;
}

input.option-input,
input.option-input::after {
  transition: all 100ms ease-out;
}

input.option-input::after {
  position: absolute;
  content: "";
  width: 1.4rem;
  height: 1.4rem;
  background-color: var(--clr-white);
  border-radius: 50%;
  left: 0.3rem;
  top: 0.3rem;
}

input.option-input:checked {
  background-color: var(--clr-blue-300);
}

input.option-input:checked::after {
  left: 1.5rem;
}

input.option-input:checked:hover {
  background-color: var(--clr-blue-400);
}

input.option-input:checked:disabled {
  background-color: var(--clr-blue-100);
}
