ul.options-list {
  margin-bottom: 3rem;
}

li.options-item {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 450px) {
  li.options-item {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}

input.option-input {
  position: relative;
  width: 3.5rem;
  height: 2rem;

  background-color: var(--clr-grey-100);
  border-radius: 7rem;

  appearance: none;
}

@media screen and (max-width: 450px) {
  input.option-input {
    width: 4.5rem;
    height: 2.5rem;
  }
}

input.option-input:hover {
  background-color: var(--clr-grey-200);
}

input.option-input,
input.option-input::after {
  transition: all 100ms ease-out;
}

input.option-input::after {
  position: absolute;
  content: "";
  width: 1.4rem;
  height: 1.4rem;
  top: 0.3rem;
  left: 0.3rem;
  background-color: var(--clr-white);
  border-radius: 50%;
}

@media screen and (max-width: 450px) {
  input.option-input::after {
    width: 1.85rem;
    height: 1.85rem;
  }
}

input.option-input:checked {
  background-color: var(--clr-blue-300);
}

input.option-input:checked::after {
  left: 1.8rem;
}

@media screen and (max-width: 450px) {
  input.option-input:checked::after {
    left: 2.3rem;
  }
}

input.option-input:checked:hover {
  background-color: var(--clr-blue-400);
}

input.option-input:checked:disabled {
  background-color: var(--clr-blue-100);
}
