div.container {
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--clr-grey-100);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

input.lengthSlider {
  -webkit-appearance: none;
  appearance: none;
  width: 20rem;
  height: 0.25rem;
}

/* Range Input styles for Chrome  */
input.lengthSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  background-color: var(--clr-white);
  border: 1px solid var(--clr-grey-100);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

input.lengthSlider::-webkit-slider-thumb:hover,
input.lengthSlider::-webkit-slider-thumb:active {
  background-color: var(--clr-grey-500);
  border: none;
}

/* Range Input styles for Firefox */
input.lengthSlider::-moz-range-thumb {
  width: 2rem;
  height: 2rem;
  background-color: var(--clr-white);
  border: 1px solid var(--clr-grey-100);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

input.lengthSlider::-moz-range-thumb:hover,
input.lengthSlider::-moz-range-thumb:active {
  background-color: var(--clr-grey-500);
  border: none;
}

/* Range Input styles for Other*/
input.lengthSlider::-ms-thumb {
  width: 2rem;
  height: 2rem;
  background-color: var(--clr-white);
  border: 1px solid var(--clr-grey-100);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

input.lengthSlider::-ms-thumb:hover,
input.lengthSlider::-ms-thumb:active {
  background-color: var(--clr-grey-500);
  border: none;
}

input.lengthInput {
  width: 5rem;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid var(--clr-grey-100);
  border-radius: 1rem;
  outline-color: rgba(41, 50, 65, 0.7);
}

input.lengthInput::-webkit-outer-spin-button,
input.lengthInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
