div.length-container {
  width: 100%;
  padding: 1rem 0;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--clr-grey-100);

  display: flex;
  align-items: center;
}

@media screen and (max-width: 450px) {
  div.length-container {
    padding-bottom: 2rem;
    flex-direction: column;
    align-items: flex-start;
  }

  label.length-label {
    display: none;
  }
}

span.show-on-mobile {
  font-size: 1.4rem;
  margin-bottom: 1rem;
  display: none;
}

@media screen and (max-width: 450px) {
  span.show-on-mobile {
    display: block;
  }
}

input.range-input {
  height: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 1rem;

  -webkit-appearance: none;
  appearance: none;

  flex-grow: 1;
}

@media screen and (max-width: 450px) {
  input.range-input {
    height: 1.25rem;
    width: 100%;
    margin: 0;
  }
}

/* Range Input styles for Chrome  */
input.range-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  background-color: var(--clr-white);
  border: 1px solid var(--clr-grey-100);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

input.range-input::-webkit-slider-thumb:hover,
input.range-input::-webkit-slider-thumb:active {
  background-color: var(--clr-blue-200);
  border: none;
}

@media screen and (max-width: 450px) {
  input.range-input::-webkit-slider-thumb {
    width: 3rem;
    height: 3rem;
  }
}

/* Range Input styles for Firefox */
input.range-input::-moz-range-thumb {
  width: 2rem;
  height: 2rem;
  background-color: var(--clr-white);
  border: 1px solid var(--clr-grey-100);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

input.range-input::-moz-range-thumb:hover,
input.range-input::-moz-range-thumb:active {
  background-color: var(--clr-grey-200);
  border: none;
}

@media screen and (max-width: 450px) {
  input.range-input::-moz-range-thumb {
    width: 3rem;
    height: 3rem;
  }
}

/* Range Input styles for Other*/
input.range-input::-ms-thumb {
  width: 2rem;
  height: 2rem;
  background-color: var(--clr-white);
  border: 1px solid var(--clr-grey-100);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

input.range-input::-ms-thumb:hover,
input.range-input::-ms-thumb:active {
  background-color: var(--clr-grey-200);
  border: none;
}

@media screen and (max-width: 450px) {
  input.range-input::-ms-thumb {
    width: 3rem;
    height: 3rem;
  }
}

input.number-input {
  width: 5rem;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid var(--clr-grey-100);
  border-radius: 1rem;
  outline-color: var(--clr-blue-300);

  /* Remove the up and down arrows from the input field for Firefox */
  -moz-appearance: textfield;
  appearance: textfield;
}

/* Remove the up and down arrows from the input field for Chrome */
input.number-input::-webkit-outer-spin-button,
input.number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@media screen and (max-width: 450px) {
  input.hide-on-mobile {
    display: none;
  }
}
