div.length-wrapper {
  width: 100%;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 1px solid var(--clr-grey-100);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input.length-slider {
  -webkit-appearance: none;
  appearance: none;

  width: 20rem;
  height: 0.25rem;
}

/* Range Input styles for Chrome  */
input.length-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2rem;
  height: 2rem;
  background-color: var(--clr-white);
  border: 1px solid var(--clr-grey-100);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

input.length-slider::-webkit-slider-thumb:hover,
input.length-slider::-webkit-slider-thumb:active {
  background-color: var(--clr-blue-200);
  border: none;
}

/* Range Input styles for Firefox */
input.length-slider::-moz-range-thumb {
  width: 2rem;
  height: 2rem;
  background-color: var(--clr-white);
  border: 1px solid var(--clr-grey-100);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

input.length-slider::-moz-range-thumb:hover,
input.length-slider::-moz-range-thumb:active {
  background-color: var(--clr-grey-200);
  border: none;
}

/* Range Input styles for Other*/
input.length-slider::-ms-thumb {
  width: 2rem;
  height: 2rem;
  background-color: var(--clr-white);
  border: 1px solid var(--clr-grey-100);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

input.length-slider::-ms-thumb:hover,
input.length-slider::-ms-thumb:active {
  background-color: var(--clr-grey-200);
  border: none;
}

input.length-input {
  /* Remove the up and down arrows from the input field for Firefox */
  -moz-appearance: textfield;
  appearance: textfield;

  width: 5rem;
  padding: 0.5rem;
  text-align: center;
  border: 1px solid var(--clr-grey-100);
  border-radius: 1rem;
  outline-color: rgba(41, 50, 65, 0.7);
}

/* Remove the up and down arrows from the input field for Chrome */
input.length-input::-webkit-outer-spin-button,
input.length-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
