div.password-wrapper {
  width: 100%;
  padding: 1rem 2rem;

  border-radius: 1rem;
  background-color: var(--clr-white);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  display: flex;
  align-items: center;
}

p.password-text {
  padding-right: 0.25rem;

  font-size: 1.8rem;
  border-right: 1px solid var(--clr-grey-100);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  flex-grow: 1;
}

span.password-char.number {
  color: var(--clr-blue-300);
}

span.password-char.special {
  color: var(--clr-red);
}

button.generate-button,
button.copy-button {
  background-color: transparent;
  border: none;
  opacity: 0.3;

  display: flex;
  align-items: center;

  cursor: pointer;
  transition: all 0.2s;
}

button.generate-button {
  margin-left: 1rem;
}

button.copy-button {
  margin-left: 1rem;
}

button.generate-button:hover,
button.copy-button:hover {
  opacity: 0.8;
  transform: scale(1.1);
}
