div.container {
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: var(--clr-white);
  box-shadow: rgba(0, 0, 0, 0.7) 0px 2px 10px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

p.passwordText {
  font-size: 2.4rem;
}

img.copyIcon {
  width: 2.5rem;
  height: 2.5rem;
  cursor: pointer;
  opacity: 0.2;
  transition: all 0.2s;
}

img.copyIcon:hover {
  opacity: 1;
  transform: scale(1.1);
}

.copySuccess,
.copyError {
  font-size: 1.4rem;
  text-align: center;
}

.copySuccess {
  color: var(--clr-green);
}

.copyError {
  color: var(--clr-red);
}
