div.password-display-container {
  width: 100%;
  padding: 1rem 2rem;
  margin-bottom: 2rem;

  border-radius: 1rem;
  background-color: var(--clr-white);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  display: flex;
  align-items: center;
}

p.password-text {
  padding-right: 0.25rem;

  font-size: 2rem;
  border-right: 1px solid var(--clr-grey-100);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  flex-grow: 1;
}

p.password-text.hidden {
  text-overflow: unset;
}

@media screen and (max-width: 450px) {
  p.password-text {
    font-size: 2.2rem;
  }
}

span.number {
  color: var(--clr-blue-300);
}

span.special {
  color: var(--clr-red);
}

button.generate-button,
button.copy-button,
button.hide-button {
  margin-left: 1rem;
  background-color: transparent;
  border-radius: 50%;
  border: none;
  opacity: 0.3;

  display: flex;
  align-items: center;

  cursor: pointer;
  transition: all 0.2s;

  touch-action: manipulation;
}

button.generate-button:hover,
button.copy-button:hover,
button.hide-button:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

button.generate-button:active,
button.copy-button:active,
button.hide-button:active {
  opacity: 1;
  transform: scale(0.95);
}

@media (hover: none) {
  button.generate-button:hover,
  button.copy-button:hover,
  button.hide-button:hover {
    opacity: 0.3;
    transform: none;
  }
}
