main.main-container {
  width: 40rem;

  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

div.input-wrapper {
  width: 100%;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: var(--clr-white);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
