:root {
  font-size: 62.5%;

  --clr-white: #fff;

  --clr-grey-100: #e6e6e6;
  --clr-grey-200: #c9cbcd;

  --clr-blue-100: #e0f1fe;
  --clr-blue-200: #69aefd;
  --clr-blue-300: #0571ed;
  --clr-blue-400: #0451b3;

  --clr-red: #d90429;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
}

body {
  font-size: 1.6rem;
  font-family: "JetBrains Mono", monospace;
  background-color: var(--clr-white);

  display: grid;
  place-content: center;
}

li {
  list-style: none;
}
