:root {
  font-size: 62.5%;

  --clr-white: #fff;
  --clr-grey-100: #e6e6e6;
  --clr-grey-500: #293241;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

body {
  font-weight: 500;
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-grey-500);

  display: grid;
  place-content: center;
}

li {
  list-style: none;
}
